{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}


<div class="image-text-container">
    <img src="{% static 'fudbal/images/galerija.jpg'%}" class="img-fluid mt-5 md-5">
    <h1 class="centered-text">Galerija</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row mt-4 mb-4">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-title="Slika1" data-footer="10.10.2019."
                data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 ">
                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-title="Slika2" data-footer="11.10.2019."
                data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery"
                class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery"
                class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery"
                class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery"
                class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
            </a>
        </div>
    </div>
</div>

<script src="{% static 'vesti/gallery.js' %}"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
{% endblock %}