{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}


<div class="image-text-container">
    <img src="{% static 'fudbal/images/galerija.jpg'%}" class="img-fluid mt-5 md-5">
    <h1 class="centered-text">Galerija</h1>
</div>
<div class="container mt-5">
    <div class="row text-center">

        {% for slika in slike %}
        {% if not slika.vest_id %}
        <div class="col-lg-4 text-center">
            <a href="{{slika.slika.url}}" data-title="{{slika.naslov}}"
                data-footer="{{slika.vreme_posta|date:'d.m.Y.'}}" data-toggle="lightbox" data-gallery="example-gallery"
                class="col-sm-4 ">
                <img src="{{slika.slika.url}}" class="img-thumbnail" width="400" height="300">
            </a>
            {% endif %}
        </div>
        {% endfor%}


    </div>
    <!--Paginations-->
    <ul class="pagination justify-content-center">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
        <li class="page-item "><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}

        {% endif %}
    </ul>
</div>
<script src="{% static 'vesti/gallery.js' %}"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
{% endblock %}