{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<img src="{% static 'fudbal/images/vesti.jpg'%}" class="img-fluid mt-5 md-5">
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Prva objava</h2>
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" class="mx-auto d-block" style="width:50%">
            <p>objavljeno: 21.03.2019.</p>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Druga objava</h2>
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" class="mx-auto d-block" style="width:50%">
            <p>objavljeno: 21.03.2019.</p>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Treca objava</h2>
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" class="mx-auto d-block" style="width:50%">
            <p>objavljeno: 21.03.2019.</p>
        </div>
        <br>
    </div>
</div>
{%endblock%}