{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}


<img src="{% static 'fudbal/images/vesti.jpg'%}" class="img-fluid mt-5 md-5">
<div class="container mt-5">
    <div class="row">

        {% for vest in vesti %}
        <div class="col-lg-12 text-center">
            <h2>{{vest.naslov}}</h2>
            <img src="{{vest.slika.url}}" class="mx-auto d-block" style="width:50%">
            <p>{{vest.vreme_posta|date:"d.m.Y."}}</p>
        </div>
        {% endfor%}

    </div>
</div>
{%endblock%}