{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fudbalski savez opštine Sokobanja</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'fudbal/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fudbal/main.css' %}">
    <link rel="stylesheet" href="{% static 'fudbal/sticky_footer.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Navigation bar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark top">
        <a class="navbar-left" href="{% url 'pocetna_strana'%}">
            <img src="{% static 'fudbal/images/logo.jpg'%}" class="rounded" alt="Logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        SAVEZ
                    </a>
                    <div class="dropdown-menu border border-0">
                        <a class="dropdown-item" href="{% url 'o_savezu' %}">O
                            Savezu</a>
                        <a class="dropdown-item" href="{% url 'rukovodstvo' %}">Rukovodstvo</a>
                        <a class="dropdown-item" href="{% url 'odbori' %}">Odbori</a>
                        <a class="dropdown-item" href="{% url 'propisi'%}">Propisi</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        LIGA
                    </a>
                    <div class="dropdown-menu border border-0 ">
                        <a class="dropdown-item" href="{% url 'liga_rezultati' %}">
                            Rezultati</a>
                        <a class="dropdown-item" href="{% url 'liga_tabela' %}">
                            Tabela</a>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href='#' id='navbardrop' data-toggle="dropdown">
                            KUP
                        </a>
                        <div class="dropdown-menu border border-0 ">
                            <a class="dropdown-item" href="{% url 'kup_rezultati' %}">Rezultati</a>
                            <a class="dropdown-item" href="{% url 'kup_tabela' %}">Tabela</a>
                        </div>
                    </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        SUDIJE
                    </a>
                    <div class="dropdown-menu border border-0">
                        <a class="dropdown-item" href="{% url 'delegiranje_sudija' %}">Delegiranje sudija</a>
                        <a class="dropdown-item" href="{% url 'lista_sudija' %}">Lista
                            sudija
                        </a>
                        <a class="dropdown-item" href="{% url 'lista_delegata' %}">Lista
                            delegata
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'obavestenja' %}">OBAVEŠTENJA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vesti' %}">VESTI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'slike' %}">GALERIJA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href='#' id='navbardrop' data-toggle="dropdown">
                        TIMOVI
                    </a>
                    <div class="dropdown-menu border border-0 ">
                        <a class="dropdown-item" href="{% url 'timovi_sokobanje' %}">Timovi FSO Sokobanja</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                <b>Adresa:</b> Vojvode Mišića 10, 18230 Sokobanja<br>
                <b>Kontakt telefon:</b> 063400144<br>
                <b>PIB:</b> 100694106<br>
                <b>Tekući račun:</b> 355-3259500700024705-91<br>
                <b>Matični broj:</b> 17469428
            </span>
        </div>
    </footer>
</body>

</html>