{% extends "fudbal/liga_kup_deligiranje.html" %}
{% block table %}
<table class="table table-sm text-center">
    <thead>
        <tr>
            <th>Utakmica</th>
            <th>Datum</th>
            <th>Glavni sudija</th>
            <th>Prvi pomocnik</th>
            <th>Drugi pomocnik</th>
            <th>Delegat</th>
        </tr>
    </thead>
    <tbody>
        {% for utakmica in utakmice %}
        <tr>
            <td>{{utakmica.domacin}}-{{utakmica.gost}}</td>
            <td>{{utakmica.vreme_odigravanja|date:"d.m.Y"}}</td>
            <td>{{utakmica.glavni_sudija}}</td>
            <td>{{utakmica.prvi_pomocnik}}</td>
            <td>{{utakmica.drugi_pomocnik}}</td>
            <td>{{utakmica.delegat}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}