{% extends "fudbal/base.html" %}
{% block content %}
{%load static%}
<br>
<img src="{% static 'fudbal/images/deligiranjesudija.jpg'%}" class="img-fluid mt-5 md-5">
<br>
<div class="container">
    <div class='row'>
        <form action="#">
            {% csrf_token %}
            <div class="form-group">
                <select name="dropdown" class="custom-select mb-3" onchange="this.form.submit()">
                    <option disabled selected>Izaberite kolo</option>
                    {% for kolo in kola%}
                    <option value="{{kolo}}">{{kolo}}.kolo</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <br>
    </div>
    <p>{{broj_kola}}.kolo</p>
    <div id="accordion">
        <div class='card'>
            <div class="card-header">
                <div class='row'>
                    <div class='col-3'>Utakmica</div>
                    <div class='col-3'>Datum</div>
                    <div class='col-3'>Vreme</div>
                    <div class='col-3'>Mesto</div>
                </div>
            </div>
        </div>
        {% for utakmica in utakmice %}
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#prvo{{utakmica.id}}">
                <div class='row'>
                    <div class='col-3'>{{ utakmica.domacin }}-{{ utakmica.gost }}</div>
                    <div class='col-3'>{{utakmica.vreme_odigravanja|date:"d.m.Y"}}</div>
                    <div class='col-3'>{{utakmica.vreme_odigravanja|date:"f"}}</div>
                    <div class='col-3'>{{utakmica.mesto_odigravanja}}</div>
                </div>
            </a>
        </div>
        <div id="prvo{{utakmica.id}}" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <p>Glavni sudija:<b>{{ utakmica.glavni_sudija }}</b></p>
                <p>Prvi pomoćnik:<b>{{ utakmica.prvi_pomocnik }}</b></p>
                <p>Drugi pomoćnik:<b>{{ utakmica.drugi_pomocnik }}</b></p>
                <p>Delegat:<b>{{ utakmica.delegat }}</b></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}