{% extends "fudbal/base.html" %}
{% block content %}
{%load static%}
<style>

</style>
<br>
<img src="{% static 'fudbal/images/deligiranje_sudija.jpg'%}" class="img-fluid mt-5 md-5">

<br>
<div class="container mt-5">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Izaberite kolo
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="collapse" href="#collapseTwo">
                Collapsible Group Item #1
            </a>
            <a class="dropdown-item" data-toggle="collapse" href="#collapseOne">
                Collapsible Group Item #1
            </a>
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Collapsible Group Item #3
            </a>
            <span class="dropdown-item-text">Just Text</span>
        </div>
    </div>
</div>

<!--collapse bar-->
<div class="container mt-5">
    <div id="accordion">
        <div class="card">

            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.
                </div>
            </div>
        </div>
        <div class="card">

            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.
                </div>
            </div>
        </div>
        <div class="card">

            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}