{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<div class="image-text-container">
    <img src="{% static 'fudbal/images/liga.jpg'%}" class="img-fluid md-5">
    <h1 class="centered-text">Liga - Tabela</h1>
</div>


<div class="container mt-4">
    <table class="table table-active table-striped text-center">
        <thead>
            <tr>
                <th data-toggle="tooltip" data-placement="top" title="Pozicija">P</th>
                <th>Naziv kluba</th>
                <th data-toggle="tooltip" data-placement="top" title="Odigrane utakmice">OU</th>
                <th data-toggle="tooltip" data-placement="top" title="Broj pobeda">BP</th>
                <th data-toggle="tooltip" data-placement="top" title="Broj nerešenih">BN</th>
                <th data-toggle="tooltip" data-placement="top" title="Broj izgubljenih">BI</th>
                <th data-toggle="tooltip" data-placement="top" title="Dati golovi">DG</th>
                <th data-toggle="tooltip" data-placement="top" title="Primljeni golovi">PG</th>
                <th data-toggle="tooltip" data-placement="top" title="Gol razlika" width="10">GR</th>
                <th data-toggle="tooltip" data-placement="top" title="Bodovi">Bodovi</th>
            </tr>
        </thead>
        <tbody>
            {% for rezultat in timovi %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{rezultat.ime}}</td>
                <td>{{rezultat.odigrane_utakmice}}</td>
                <td>{{rezultat.pobeda}}</td>
                <td>{{rezultat.nereseno}}</td>
                <td>{{rezultat.porazi}}</td>
                <td>{{rezultat.dati_golovi}}</td>
                <td>{{rezultat.primljeni_golovi}}</td>
                <td>{{rezultat.gol_razlika}}</td>
                <td>{{rezultat.bodovi}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}