{% extends "fudbal/base.html" %}
{% block content %}
{%load static%}
<br>
<img src="{% static 'fudbal/images/liga.jpg'%}" class="img-fluid mt-5 md-5">

<div class="container mt-5">
    <div id="accordion">
        {% for kolo in kola %}
        {% for broj_kola, utakmice in kolo.items %}
        <div class="card">
            <div class="card-header">
                <a class='card-link' data-toggle="collapse" href="#b{{broj_kola}}">
                    {{broj_kola}}.kolo
                </a>
            </div>


            <div id="b{{broj_kola}}" class="{% if broj_kola ==  kola|length  %}
            collapse show {% else %} collapse {% endif %}" data-parent="#accordion">
                <div class="card-body">
                    <div class='container'>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>{{utakmice.first.sezona}}.sezona</th>

                                </tr>
                            <tbody>
                                {% for utakmica in utakmice %}
                                <tr>
                                    <td>{{utakmica.vreme_odigravanja}} </td>
                                    <td>{{utakmica.mesto_odigravanja}} </td>
                                    <td>|</td>
                                    <td>{{utakmica.domacin}} </td>
                                    <td> {{utakmica.domacin_gol}}</td>
                                    <td>:</td>
                                    <td>{{utakmica.gost_gol}} </td>
                                    <td>{{utakmica.gost}}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}