{% extends "fudbal/prikaz_po_kolima_base.html" %}
{% block table %}

<div class="table-responsive">
    <table class="table table-bordered text-center">
        <colgroup>
            <col span="2">
            </col>
            <col span="1" class="bg-light">
            </col>
            <col width="5">
            </col>
            <col span="1" class="bg-light">
            </col>
        </colgroup>
        <thead class="thead-light">
            <tr>
                <th>Datum</th>
                <th>Mesto</th>
                <th>Domaćin</th>
                <th>Golovi</th>
                <th>Gost</th>
            </tr>
        </thead>
        <tbody>
            {% for utakmica in utakmice %}
            <tr>
                <td>{{utakmica.vreme_odigravanja|date:"d.m.Y."}} </td>
                <td>{{utakmica.mesto_odigravanja}} </td>
                <td>{{utakmica.domacin}} </td>
                <td> {{utakmica.domacin_gol}}:{{utakmica.gost_gol}} </td>
                <td>{{utakmica.gost}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}
</div>