{% extends "fudbal/base.html" %}
{% block content %}
{%load static%}
<br>
{% if request.path == '/deligiranje/' %}
<img src="{% static 'fudbal/images/deligiranjesudija.jpg'%}" class="img-fluid mt-5 md-5">
{%elif request.path == '/liga-rezultati/' %}
<img src="{% static 'fudbal/images/liga.jpg'%}" class="img-fluid mt-5 md-5">
{% endif %}
<div class="container mt-5">
    <h6>Sezona {{sezona}}</h6>
    <div id="accordion">
        <div class='card'>
            <div class="card-header">
                Broj kola
            </div>
        </div>
        {% for utakmice in utakmice_po_kolima %}
        <div class="card-header">
            <a class='card-link' data-toggle="collapse" href="#b{{utakmice.0.kolo}}">
                {{utakmice.0.kolo}}.kolo
            </a>
        </div>
        <div id="b{{utakmice.0.kolo}}" class="{% if utakmice.0.kolo ==  utakmice_po_kolima|length  %}
            collapse show {% else %} collapse {% endif %}" data-parent="#accordion">
            <div class="card-body">
                <div class='container'>
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}