{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<div class="image-text-container">
    <img src="{% static 'fudbal/images/sudije.jpg'%}" class="img-fluid mt-5 md-5">
    <h1 class="centered-text">Sudije</h1>
</div>

<div class="container mt-5 ">
    <div class="row mt-5">
        {% for sudija in sudije %}
        <div class="col-sm-6 mt-5"><img src="{{sudija.slika.url}}" alt="..." class="float-left img-thumbnail"
                width="100" height="100">
            <h4>{{sudija.ime}} {{sudija.prezime}}</h4>
            <h6>{{sudija.zvanje}}.</h6>
            {% if sudija.datum_rodjenja %}
            <p>{{sudija.datum_rodjenja}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}