{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<div class="image-text-container">
    <img src="{% static 'fudbal/images/savez.jpg'%}" class="img-fluid md-5">
</div>


<div class="container mt-5">
    <h2>O savezu</h2>
    <p> Fudbalski savez opštine Sokobanja osnovan je <b>02.03.1975.</b> godine. U svom sastavu ima 18 klubova sa 25
        ekipa
        koje su uključene u razna takmičenja, 500 registrovanih igrača, 30 fudbalskih sudija i instruktora i 10
        licenciranih trenera.
        FSO Sokobanja sprovodi i organizuje takmičenje u Opštinskoj fudbalskoj ligi Sokobanja.
        Na teritoriji FSO Sokobanja infrastrukturu čine jedan stadion (stadion “Bata Nole“), Sportsko rekreativni
        centar
        “Podina“ koji u svom kompleksu sportskih terena ima dva fudbalska, kao i više od deset travnatih terena.
        Sedište FSO Sokobanja nalazi se u centru Sokobanje, u ulici Vojvode Mišića br.10 (zgrada Komiteta). Ima svoju
        stručnu
        službu u okviru koje rade više volontera, bez zaposlenih radnika.
        Stručna služba se, u svojstvu klubova, brine za takmičenje i sve neophodno za funkcionisanje saveza.
    </p>
</div>
{% endblock %}