{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<div class="image-text-container">
    <img src="{% static 'fudbal/images/savez.jpg'%}" class="img-fluid md-5">
</div>

<div class='container mt-5 text-center'>
    {% for obavestenje in obavestenja %}
    <h2>{{obavestenje.naslov}}</h2>
    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://docs.google.com/viewer?url=http://ieee802.org/secmail/docIZSEwEqHFr.doc&embedded=true">
            </iframe>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}