{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<div class="image-text-container">
    <img src="{% static 'fudbal/images/savez.jpg'%}" class="img-fluid mt-5 md-5">
</div>

<div class="container">
    {% for odbor in odbori %}
    <h2 class="bg-secondary mt-5 text-center">{{odbor.first.odbor}}</h2>
    {% for clan in odbor %}
    <ul class="list-group list-group-flush">
        {% if forloop.first %}
        <li class="list-group-item text-center border-0">{{clan.funkcija}} <b>{{clan.ime}} {{clan.prezime}}</b></li>
        {% else %}
        <li class="list-group-item text-center ">{{clan.funkcija}} <b>{{clan.ime}} {{clan.prezime}}</b></li>
        {% endif %}
    </ul>
    {% endfor %}


    {% endfor %}
</div>
{% endblock%}