{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}
{% now "m" as current_month %}

<div class="image-text-container">
    {% if request.path == '/delegiranje/' %}
    <img src="{% static 'fudbal/images/sudije.jpg'%}" class="img-fluid mt-5 md-5">
    <h1 class="centered-text">Sudije</h1>
    {%elif request.path == '/liga-rezultati/' %}
    <img src="{% static 'fudbal/images/liga.jpg'%}" class="img-fluid mt-5 md-5">
    <h1 class="centered-text">Liga</h1>
    {% endif %}
</div>

<div class="container mt-5">
    <h4>Sezona {{sezona}}</h4>
    <div id="accordion">
        {% for obj in utakmice_po_kolima %}

        <div class="card card-header">
            <a class='card-link' data-toggle="collapse" href="#b{{obj.utakmice.0.kolo}}">
                {{obj.utakmice.0.kolo}}.kolo
            </a>
        </div>
        <div id="b{{obj.utakmice.0.kolo}}" class="{% for utakmica in obj.utakmice%}{% if utakmica.datum_zakazano|date:'m' == current_month %}
            collapse show {% else %} collapse {% endif %} {% endfor %}" data-parent="#accordion">
            <div class="card-body">
                {% block table %}
                {% endblock %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}