{% extends "fudbal/base.html" %}
{% block content %}
{% load static %}

<div class="image-text-container">
    <img src="{% static 'fudbal/images/savez.jpg'%}" class="img-fluid mt-5 md-5">
</div>

<div class="container">
    <div class="row">
        {% for clan in clanovi %}
        <div class="col-sm-6">
            <div class="card mt-5">
                <h2 class="card-header text-center">{{clan.funkcija}}</h2>
                <div class="card-body">
                    {% if clan.slika %}
                    <img class="card-img-top rounded-circle mx-auto d-block" src="{{clan.slika.url}}" alt="Card image"
                        style="width:50%">
                    {% endif %}
                    <h4 class="card-title text-center">{{clan.ime}} {{clan.prezime}}</h4>
                    {% if clan.rezime %}
                    <p class="card-text">{{clan.rezime}}</p>
                    {% endif %}
                </div>

            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}