{% extends "fudbal/base.html" %}
{% block content %}
{%load static%}
<div class="container" style="margin-top:100px">
    <h1 class="text-center">----Vesti----</h1>
    <hr class="bg-danger">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Prva objava</h2>
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" class="mx-auto d-block" style="width:50%">
            <p>objavnjeno: 21 03 2019</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Druga objava</h2>
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" class="mx-auto d-block" style="width:50%">
            <p>objavnjeno: 21 03 2019</p>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <h2>Treca objava</h2>
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" class="mx-auto d-block" style="width:50%">
            <p>objavnjeno: 21 03 2019</p>
            <hr>
        </div>
        <br>
    </div>
</div>
{%endblock%}